@{
    ViewBag.Title = "About";
    ViewBag.Message = "The Ohm Calculator";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Calculate the ohm value rating of any resistor by inputing the color bands. Up to 4 color bands can be selected to indicate the following:
    <ul>
        <li>First digit</li>
        <li>Second digit</li>
        <li>Decimal multiplier</li>
        <li>Tolerance rating</li>
    </ul>
</p>
<p>
    See <a href="https://en.wikipedia.org/wiki/Electronic_color_code#Resistor_color-coding">Wikipedia's reference</a> for more information.
</p>
