@{
    ViewBag.Title = "Make Contact";
    ViewBag.Message = "Inspired by Global Custom Commerce";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10255 Richmond Ave<br />
    Houston, TX 77042<br />
    <abbr title="Phone">P:</abbr>
    (800) 505-1905
</address>

<address>
    <strong>Author:</strong> DevelopingDenny <a href="mailto:dkruep@sbcglobal.net">dkruep@sbscglobal.net</a><br />
</address>